.navbar {
    background-color: #002754;
    border-color: #002754;
}

.navbar-inverse {
    background-color: #002754;
    border-color: #002754;
}

.navbar-fixed-top {
    background-color: #002754;
    border-color: #002754;
}

